body {
    font-size: 16px;
    font-family: system-ui;
    background:-webkit-radial-gradient(top left, #90F6FB,#2C3283);
    
    
}


.navbar{
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background: #eee;
    background-image: url('../img/bgimg/welcome-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  

.main{
    width: 100%;
    
}

.main {
    width: 700px;
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin: 4% auto;
    height: 90vh;
    position:relative;
    top: 20px;
}

.form1{
    width: 600px;
    padding: 15px 40px 40px;
    border-radius: 5px;
    background-color:#fff;
    margin: 4% auto;
    height: 60vh;
    

}
.form2{
    width: 100px;
    padding: 15px 40px 40px;
    border-radius: 5px;
    background-color:#fff;
    height: 5vh;
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
    

}
.form3{
    width: 100px;
    padding: 15px 40px 40px;
    border-radius: 5px;
    background-color: #fff;
   
    height: 5vh;
    display: flex;
    margin-top: -50px;
    margin-left: 400px;
    

}
label {
    display: block;
    margin-bottom: 5px
}
label i {
    color: #999;
    font-size: 80%;
}
input, select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #a9bae64a;
}
.box {
    padding-bottom: 10px;
}
.form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}
.form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}
.error {
    color: red;
    font-size: 90%;
}
input[type=text]{
        outline: none;
}

input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: #ef6e58;
    border-color: #ef6e58;
    box-shadow: 0 3px 0 #bd432e;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #bd432e;
    border-color: #bd432e;
}

.input-1{
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border:1px solid #01cc40;
}
.input-2{
    background-image: url(../images/cancel.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border:1px solid red;
}
.input-3{
    border:1px solid #01cc40!important;
}
select{
    outline: none!important;
}
.input-4{
    border:1px solid red;
}
h2 {
    text-align: center;
    color: #ef6e58;
}
.btnfinal{
    padding: 5px;
    width: 150px;
    height:40px;
    background-color: blue;
    color: #fff;
    border:0;
    border-radius: 7px;
    font-size: 18px;
    float: left;
    margin-left: -30px;
}      
