

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/signup.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap/bootstrap.min.css')}}" >
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/form.js') }}"></script>
    <script src="/static/js/form.js"></script>
    <script type="text/javascript" src="js/form.js"></script>
    <title>Signup</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white">
        <div class="container-fluid text-center">
          <h2 style="width: 100%;">AI Face Recognition Attendance System</h2>
        </div>
      </nav>
      

      <div class=" main">

        <div class="form1">
            <form name="Form" onsubmit="return validateForm()" action="/signup_teacher" method="post">
                <h2>Registration Form</h2>
                <div class="box">
                    <label>Username</label>
                    <input type="text" name="user" placeholder="username" id="name">
                    <div class="error" id="nameErr"></div>
                </div>
            
                <div class="box">
                    <label>Password</label>
                    <input type="text" name="password" id="password" placeholder="password">
                    <div class="error" id="passErr"></div>
                </div>
            
                <div class="box">
                    <label>Email Address</label>
                    <input type="text" name="email" id="email"placeholder="email">
                    <div class="error" id="emailErr"></div>
        
                </div>
                <input type="submit" class="btn-login" value="SignUp">
                <p>{{uname}} {{msg}}</p>
        
                </form>
            </div>
            <div class="form2">
                <form action="/changetask" method="post">
                    <input type="submit" class="btnfinal" name="chtask" value="Back">
                </form>
                
            </div>

            <div class="form3">
                
                <form action="/logout" method="post">
                    <input style="width: 150px;float: right;" type="submit" class="btnfinal" name="logout" value="Logout">
        
            </div>
        </div>
    </body>
    </html>
            
        <form name="Form" onsubmit="return validateForm()" action="/signup_teacher" method="post" class="m-form">
            <h2>Registration Form</h2>
            <div class="box">
                <label>Username</label>
                <input type="text" name="user" placeholder="username" id="name">
                <div class="error" id="nameErr"></div>
            </div>
        
            <div class="box">
                <label>Password</label>
                <input type="text" name="password" id="password" placeholder="password">
                <div class="error" id="passErr"></div>
            </div>
        
            <div class="box">
                <label>Email Address</label>
                <input type="text" name="email" id="email"placeholder="email">
                <div class="error" id="emailErr"></div>
    
            </div>
            <input type="submit" class="btn-login" value="SignUp">
            <p>{{uname}} {{msg}}</p>
    
            </form>
            -->
       
        <!--
            <div >
              <input type="submit" class="btnfinal" name="chtask" value="Back">
            </div>
          </form>
    
            <form action="/logout" method="post">
              <input style="width: 200px;float: right;" type="submit" class="btnfinal" name="logout" value="Logout">
            </form>
        -->
      


        <!doctype html>
        <html lang="en">
          <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
           
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap/bootstrap.min.css')}}" >
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.min.js"></script>
        
        
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/Registration.css')}}">
        
        
           <title>Teacher Registration</title>
          </head>
        
          
          <body>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light white">
                <div class="container-fluid text-center">
                  <h2 style="width: 100%;">AI Face Recognition Attendance System</h2>
                </div>
              </nav>
          <section class="bg">
              <div class="container">
                  <div class="row d-flex justify-content-center">
                      <div class="col-md-4">
                          <div class="form-wrap">
                              <div class="form-heading">
                                  <h1>Registration Form</h1>
                                  <p>Enter your Personal Data</p>
                              </div>
                              <form name="regForm" id="regForm" action="/signup_teacher" method="post">
                                  <div class="form-group">
                                      <label>Username: </label>
                                      <input type="text" class="form-control" id="name"name="user" placeholder="Name">
                                      <p id="p1"></p>
                                  </div>
                                  <div class="form-group">
                                      <label>Email: </label>
                                      <input type="email" class="form-control" id="email"name="email" placeholder="Email">
                                      <p id="p2"></p>
                                  </div>
                                  <div class="form-group">
                                      <label>Password: </label>
                                      <input type="password" class="form-control" id="password"name="password" placeholder="Password">
                                      <p id="p3"></p>
                                  </div>
                                  <div class="form-group">
                              
                                      <input type="submit" class="btn btn-primary btn-block" id="submit">
                                      
                                  </div>
                                  <p>{{uname}} {{msg}}</p>
        
                                  <br>
                                 
                                  
        
                                  <div class="form-group">
                              
                            	<input type="submit" class="btn btn-primary btn-block" id="submit" value="Back">
                                    
                                </div>
                                
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
        
            
            
        
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
          
          
          <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
          
          <script>
              $(document).ready(function(){
                  $("#submit").click(function(){
                      var name = $("#name").val();
                      var email = $("#email").val();
                      var pass = $("#password").val();
        
                      if(name.length == "")
                      {
                          $("#p1").text("Please enter your name");
                          $("#name").focus();
                          return false;
                      }
        
                      else if(email.length == ""){
                          $("#p2").text("Please enter your email address");
                          $("#email").focus();
                          return false;
                      }
        
        
                      else if(pass.length == ""){
                          $("#p3").text("Please enter your password");
                          $("#password").focus();
                          return false;
                      }
        
                      else{
                          var con = confirm("Are you Done?");
                          if(con == true)
                          {
                              alert("Welcome to our Website");
                              return true;
                          }
                          else{
                              return false;
                          }
                      }
                  });
              });
        
        
          </script>
          
          
          
          </body>
        </html>